
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}



.btn{
    font-size: 38px;
    margin: 10px;
    height: 48px;
    width: 48px;
    padding: 0px 0px;
}

#counting{
    font-size: 40px;
}